@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --light: #f3f3f3;
  --gray-bg: #ececec;
  --gray-line: #e6e6e6;
  --dark-gray: #545454;
  --font-header: "Google Sans Code", sans-serif;
  --font-body: "Inter", sans-serif;
  --primary-black: #333333;
  --secondary-black: #4d4d4d;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
}

h1,
h2,
a,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  color: var(--secondary-black);
}

body {
  background-color: var(--light);
  width: 100dvw;
  height: 100dvh;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* -------------------------------------------------Sidebar----------------------------------------------------------------------*/

.nav-open {
  width: clamp(12rem, 24vw, 20rem);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-line);
  transition: width 0.6s ease;
}
.nav-close {
  transform: rotate(180deg);
  height: 100dvh;
  width: clamp(1rem, 7vh, 3rem);
  display: flex;
  transition: width 0.4s ease;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-btn-close {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: end;
  cursor: pointer;
  color: var(--dark-gray);
  margin-top: 2rem;
  margin-right: 2rem;
}
.nav-btn-close:hover {
  color: var(--primary-black);
}

.menu-nav {
  writing-mode: vertical-rl;
  font-size: clamp(1rem, 1.5rem, 2rem);
  font-family: var(--font-header);
  color: var(--dark-gray);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-nav:hover {
  color: var(--primary-black);
}

.nav-link {
  font-size: clamp(2rem, 2vw, 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  margin: auto;
  gap: 2rem;
}

/* -------------------------------------------------Sidebar Right----------------------------------------------------------------------*/

.sideB-right {
  display: flex;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  gap: 2rem;
  margin: 2rem;
}

.sideB-right a {
  text-decoration: none;
}

.sideB-right a:hover {
  color: var(--primary-black);
}

/* ------------------------------------------------- Home ----------------------------------------------------------------------*/

.home-layout {
  display: flex;
  height: 100%;
}

.section-layout {
  width: 86dvw;
  margin: 2rem auto;
}
