@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --light: #f3f3f3;
  --gray-bg: #ececec;
  --gray-line: #e6e6e6;
  --card-light: rgba(230, 230, 230, 0.3);
  --dark-gray: rgba(84, 84, 84, 0.4);
  --font-header: "Google Sans Code", sans-serif;
  --font-body: "Inter", sans-serif;
  --primary-black: #333333;
  --secondary-black: #4d4d4d;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
a,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  color: var(--secondary-black);
}

/* ------------------------------------------------- Body ----------------------------------------------------------------------*/

body {
  background-color: var(--light);
  width: 100dvw;
  min-height: 100dvh;
  overflow: hidden;

  background: repeating-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.08) 0,
    rgba(0, 0, 0, 0.04) 1px,
    transparent 1px,
    transparent calc(8vw + 60px)
  );
}

body::-webkit-scrollbar {
  display: none;
}

.bg-word {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-header);
  font-weight: 800;
  font-size: clamp(3rem, 10vw, 30rem);
  color: rgba(0, 0, 0, 0.05);
  pointer-events: none;
  user-select: none;
  z-index: -10;
}

/* Mobile */
@media (max-width: 600px) {
  .bg-word {
    top: auto;
    bottom: 3%;
    left: 40%;
    transform: translateX(-50%);
  }
}

/* ------------------------------------------------- Sidebar ----------------------------------------------------------------------*/

.nav-open {
  width: clamp(12rem, 24vw, 20rem);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--gray-line);
  transition: width 0.6s ease;
}
.nav-close {
  transform: rotate(180deg);
  height: 100dvh;
  width: clamp(1rem, 7vh, 3rem);
  display: flex;
  transition: width 0.4s ease;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-btn-close {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: end;
  cursor: pointer;
  color: var(--dark-gray);
  margin-top: 2rem;
  margin-right: 2rem;
}
.nav-btn-close:hover {
  color: var(--primary-black);
}

.menu-nav {
  writing-mode: vertical-rl;
  font-size: clamp(1rem, 1.5rem, 2rem);
  font-family: var(--font-header);
  color: var(--dark-gray);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-nav:hover {
  color: var(--primary-black);
}

.nav-link {
  font-size: clamp(1.3rem, 2vw, 4rem);
  display: flex;
  flex-direction: column;
  font-weight: 100;
  margin: 5rem auto;
  gap: 1.3rem;
}
sup {
  font-size: 1rem;
  vertical-align: super;
  font-weight: 300;
  position: relative;
  top: -0.5em;
}
@media (max-width: 600px) {
  sup {
    top: 0;
    font-size: 0.8rem;
  }
}

/* ------------------------------------------------- Sidebar Right ----------------------------------------------------------------------*/

.sideB-right {
  display: flex;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  gap: 2rem;
  margin: 2rem;
}

@media (max-width: 600px) {
  .sideB-right {
    gap: 1rem;
    margin: 1rem;
  }
}

.sideB-right a {
  text-decoration: none;
  color: var(--dark-gray);
}

.sideB-right a:hover {
  color: var(--primary-black);
}

/* ------------------------------------------------- Home ----------------------------------------------------------------------*/

.home-layout {
  display: flex;
  height: 100dvh;
}

/* ------------------------------------------------- Section ----------------------------------------------------------------------*/

.section-layout {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section-layout::-webkit-scrollbar {
  display: none;
}
@media (max-width: 600px) {
  .section-layout {
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
  }
}

.section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
}

/* ------------------------------------------------- Presentazione ----------------------------------------------------------------------*/

.presentazione-layout {
  display: flex;
  height: 100dvh;

  justify-content: end;
  align-items: center;
}

.presentazione-corpo {
  width: 38dvw;
  font-size: clamp(0.7rem, 2vw, 4rem);
  color: var(--secondary-black);
  line-height: 140%;
  font-family: var(--font-header);
  margin-right: 3rem;
}

/* ------------------------------------------------- Stack ----------------------------------------------------------------------*/
.stack-layout {
  display: flex;
  width: 100dvw;
  padding: 2rem;
}

.stack-card {
  background: var(--card-light);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  height: fit-content;
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  gap: 2rem;
}

.stack-card h2 {
  font-size: 1.3rem;
}

.Tittle {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.stack-card img {
  width: 40px;
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.stack-card img:hover {
  filter: grayscale(0%);
  cursor: pointer;
  transform: scale(1.2);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 3rem;
}

.tittle-section {
  text-align: center;
}

.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: var(--font-header);
  font-size: 0.9rem;
  gap: 1rem;
  color: var(--secondary-black);
}

@media (max-width: 600px) {
  .stack-layout {
    justify-content: flex-start;
    align-items: start;

    margin: auto;
  }
  .stack-card h2 {
    font-size: 0.9rem;
  }
  .stack-card {
    background: var(--card-light);
    height: 70dvh;
    width: fit-content;
    overflow-y: auto;
    display: flex;
  }

  .stack-layout {
    padding: 0rem;
  }

  .Tittle {
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  .stack-card img {
    width: 30px;
  }

  .grid-4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    max-height: 80vh;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
  }
  .card-section {
    font-size: 0.6rem;
    gap: 0.6rem;
  }
}
/* ------------------------------------------------- Progetti ----------------------------------------------------------------------*/
.section-progetti {
  padding: 2rem;
}

.card-progetti {
  margin: 6rem;
  background-color: var(--dark-gray);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 15px;
  padding: 2rem;
  height: fit-content;
}
.card-p-layout {
  display: flex;
}
.video-wrapper {
  width: 60%;
  padding: 2rem;
}

.video-wrapper video {
  width: 100%;
  border-radius: 15px;
}

.lista-progetti {
  font-size: 2rem;
  margin: auto;
}
.lista-progetti h3 {
  cursor: pointer;
  font-weight: 200;
  color: var(--secondary-black);
}

.lista-progetti h3.active {
  font-weight: 800;
  color: var(--primary-black);
}

.lista-progetti h3:not(:first-of-type) {
  margin-top: 1rem;
}

span {
  font-size: 1.1rem;
}

@media (max-width: 600px) {
  .video-wrapper {
    display: none;
  }

  .section-progetti {
    padding: 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .card-progetti {
    margin: 0rem;
    width: fit-content;
    height: fit-content;
    background-color: var(--dark-gray);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 15px;
    padding: 2rem;
  }

  .lista-progetti {
    font-size: 1rem;
  }

  .lista-progetti h3 {
    font-weight: 200;
  }

  .lista-progetti h3:not(:first-of-type) {
    margin-top: 1rem;
  }
  .lista-progetti {
    padding-top: 3rem;
  }
  span {
    font-size: 0.7rem;
  }
}
/* ------------------------------------------------- Dettagli Progetto ----------------------------------------------------------------------*/
.layout-dettagli {
  height: 100dvh;
  background: var(--dark-gray);
  display: flex;
  padding: 2rem 0rem 2rem 2rem;
  gap: 2rem;
}
.icon-dettagli {
  color: var(--secondary-black);
  cursor: pointer;
}

.icon-dettagli:hover {
  color: var(--primary-black);
}
.section-dettagli-center {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  gap: 2rem;
  width: fit-content;
}

.dettagli-video video {
  width: 100%;
}

.dettagli-video {
  width: 60%;
}

.section-dettagli-center-secondary video {
  width: 100%;
}
.dettagli-video-mobile {
  width: 90%;
}

.section-dettagli-center-secondary {
  display: flex;
  gap: 2rem;
}
.section-dettagli-center-secondary p {
  font-family: var(--font-header);
  color: var(--primary-black);
  font-size: 1.7rem;
}
.section-dettagli-link {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}
.section-dettagli-link a:hover {
  color: var(--primary-black);
  font-weight: 600;
}
.section-dettagli-tertiary {
  display: flex;
  align-items: center;
}

.section-dettagli-card {
  background-color: var(--gray-bg);

  padding: 2rem;
}

.card-section img {
  width: 50px;
}
